<div class="container my-2"></div>
    <div class="card mb-3">
        <div class="card-body">
            <h1 class="text-center text-success">
                <span class="text-danger"> SDE </span> opportunity in GURGAON HR IND REMOTE at
                <span class="text-info"> Coding Ninjas </span>
            </h1>
            <div class="container d-flex flex-column align-items-centre justify-content-start my-3">
                <h5 class="my-1">Coding Ninjas</h5>
                <div>
                    <span>Tech</span>
                    <span class="text-success">SDE</span>
                </div>
                <div class="d-flex flex-column align-items-centre justify-content-start p-2">
                    <span>
                    <% if (recruiterEmail) { %>
                        <a href="/job2/edit" class="btn btn-warning">Edit</a>
                        <a href="/job2/delete" class="btn btn-danger">Delete</a>
                    <% } %>
                    </span>
                    <span class="">
                        <!-- svg removed -->
                        <i class="fa fa-map-marker"></i>
                        Gurgaon HR IND Remote
                    </span>
                    <span class="">
                        <!-- svg removed -->
                        <i class="fa fa-rupee"></i>
                        14-20lpa
                    </span>
                    <span>
                        <!-- svg removed -->
                        <i class="fa fa-calendar-o"></i>
                        Apply By 30 OCT 2024
                    </span>
                    <span>
                        <!-- svg removed -->
                        <i class="fa fa-bullhorn"></i>
                        Openings: 5
                    </span>
                    <a style="text-decoration: none; color: rgb(215, 20, 85)" href="applicants/1">
                        <span>
                            <!-- svg removed -->
                            <i class="fa fa-users"></i>
                            Applicants
                        </span>
                    </a>
                </div>
                <div class="container">
                    <div class="skills p-1">
                        <button class="btn btn-sm btn-outline-info mb-1">REACT</button>
                        <button class="btn btn-sm btn-outline-info mb-1">NodeJs</button>
                        <button class="btn btn-sm btn-outline-info mb-1">JS</button>
                        <button class="btn btn-sm btn-outline-info mb-1">SQL</button>
                        <button class="btn btn-sm btn-outline-info mb-1">MongoDB</button>
                        <button class="btn btn-sm btn-outline-info mb-1">Express</button>
                        <button class="btn btn-sm btn-outline-info mb-1">AWS</button>
                    </div>
                    <button class="btn btn-md btn-primary px-5 my-2">Apply Now</button>
                </div>
            </div>
            <small class="text-body-secondary">
                <span 
                    style="width: 160px" 
                    class="bg-success text-white border border-success border border-success p-1 border-opacity-50 rounded">
                    Posted: 9/29/2024, 3:10:36 PM
                </span>
            </small>
        </div>
    </div>
</div>